@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar{
    position: absolute;
    background-color: rgb(181, 174, 174);
    /* width: 434px; */
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    transition: transform 0.3s ease-in;
}

.sidebar nav{
    padding: 45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.main{
    /* background-color: yellow; */
    width: 85vw;
}

.container{
    display: flex;
}

.infoContainer{
    /* background-color: pink; */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo {
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Fira Sans', sans-serif;
    /* flex-wrap: wrap; */
}

.hello{
    font-size: 3em;
}

.name{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.about{
    font-size: 2.5em;
}

.moreabout{
    font-size: 2.2em;
    margin-top: 24px;
    font-family: 'Fira Sans', sans-serif;
}

.buttons{
    margin-top: 34px ;
    font-size: 16px;
}

.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 2em;
    margin: 3px 3px;
    cursor: pointer;
}

.btn-sm{
    font-size: 14px;
    padding: 10px 19px;
    margin: 12px 0 ;
}
 
.btn:hover{
    background-color: white;
    color: dodgerblue;
}

.devPic img{
    height: 58vh;
}

.contactform {
    padding: 0 34px;
    /* padding-top: 144px; */
    margin: 0 88px;
    font-family: 'Fira Sans', sans-serif;
}

.contactform h1{
    /* text-align: center; */
    /* padding: 12px 0; */
}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    /* width: 26vw; */
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

.contactform form{
    margin: 0 40px;
}

#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    width: 24px;
    margin: 3px 0;
}

.blogcontainer{
    margin: 88px 88px;
}

.blogItem{
    margin: 20px;
}



h1{
    margin: 23px;
    font-family: 'Fira Sans', sans-serif;

}

p{
    font-family: 'Fira Sans', sans-serif;

}

h2{
    font-family: 'Fira Sans', sans-serif;

}

.intro{
    margin: 88px 88px;
}

.intro h1{
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
}

.intro h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
}

.intro p{
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
}

.skillcontainer{
    padding: 12px;
}

.skillItem{
    display: flex;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
}

.skill{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
}

.hundred{
    width: 265px;
    background-color: blueviolet;
}

.fifty{
    width: 125px;
    background-color: aqua;
}

.t5{
    width: 75px;
    background-color: yellow;
}

.sidebarGo{
    transform: translate(-433px, 0px);
    position: absolute;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.cross{
    margin-left: 195px;
}

@media (max-width: 1430px) {
    *{
        /* background-color: rgb(211, 110, 110); */
    }
    .buttons{
        font-size: 7px;
    }
    .devInfo{
        font-size: 10px;
    }
    .devPic{
        display: none;
    }
    .intro, .blogcontainer, .contactform{
        margin: 50px 8px;
    }
    /* .sidebar{
        transform: translate(-433px, 0px);
        position: absolute;
    } */
}
